        <article>
                <h2>Grab a hot chocolate and a cozy seat
                </h2>
                <p>Read along with me or tell me about what you've been looking into.
                </p>
                <%= image_tag "tower" %>

                 
       </article>

         <aside>
                <h2>Thought-provoking quote</h2>
           <p>“What really knocks me out is a book that, when you're all done reading it, you wish the author that wrote it was a terrific friend of yours and you could call him up on the phone whenever you felt like it. That doesn't happen much, though.” 
           </p>
             <p class="quotedAuthor">― J.D. Salinger, <i>The Catcher in the Rye</i></p>  
                </aside>
