 <article class="main">
             <div class="bookCover">
                <%= image_tag "lot49" %>
                </div>
            
                <h2 class="bookTitle"> The Crying of Lot 49 
                </h2>
                <h2 class="byLine">by Thomas Pynchon
                </h2>
                <p>
                Comedy with a 60's flair?
                </p> 
</article>

       <aside class ="aside 1">
           <h2>First Line</h2>
           <p>
            "One summer afternoon Mrs Oedipa Maas came home from a Tupperware party whose hostess had put perhaps too much kirsch in the fondue to find that she, Oedipa, had been named executor, or she supposed executrix, of the estate of one Pierce Inverarity, a California real estate mogul who had once lost two million dollars in his spare time but still had assests numerous enough to make the job of sorting it all out more than honorary."
            </p>
           <p class="quotedAuthor">Thomas Pynchon
           </p>
        </aside>