<article>
                <article class="main">
             <div class="bookCover">
                <%= image_tag "search_for_meaning_cover" %>
                </div>
            
                <h2 class="bookTitle"> Man's Search for Meaning 
                </h2>
                <h2 class="byLine">by Viktor Frankl
                </h2>
                <p>
                Clearly not "light" reading, Viktor Frankl's personal account of life in Nazi Concentration Camps is descriptive and stirring without being exhibitionistic.
                </p> 
                
</article>

<aside class ="aside 1">
           <h2>Thought-provoking quote</h2>
           <p>
            What was really needed was a fundamental change in our attitude toward life. We had to learn ourselves and, furthermore, we had to teach the despairing men, that it did not really matter what we expected from life, but rather what life expected from us. We needed to stop asking about the meaning of life, and instead think of ourselves as those who were being questioned by life—daily and hourly. Our question must consist, not in talk and meditation, but in right action and in right conduct. Life ultimately means taking the responsibility to find the right answer to its problems and to fulfill the tasks which it constantly sets for each individual.
            </p>
           <p class="quotedAuthor">Viktor Frankl</p>
</aside>
        