#pageFooter {
    clear:both;
    overflow:hidden;
    height: 150px;
    
    background: rgb(173, 169, 130);
    padding-top: 1.5em;
    text-align: center;
    
    .notice {
        color: black;
    }

}


