<% cache do %>
        <div class="background">
        <div class="layer">
        <header class="app-header" >
            
             
                 <h1> Clinton's Book Corner</h1>
                <h2> >> A look into what I'm looking into << </h2>
              
             
        </header>
         <nav id="mainNav" >
            <h2>Site Navigation</h2>
            <ul>
                <li>
                    <a href="index.html" title="Home" class="home">Home</a>
                </li>
                <li>
                    <a href="present.html" title="What I'm looking into now" class="present">Present</a>
                </li>
                <li>
                    <a href="articles.html" title="What I've already looked into" class="past">Past</a>
                </li>
                <li>
                    <a href="future.html" title="What I intend to look into"
                    class="future">Future</a>
                </li>
            </ul>
        </nav>
         </div>
        </div>
         
        
<% end %>